*{
    border: 0;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    color: #222831;
}

main.shop-page{
    height: 100vh;
    padding: 50px 20px;
    background-color: #222831;
}
.page-title{
    margin-bottom: 40px;
    text-align: center;
    color: #fff;
    letter-spacing: 2px;
}
.content-wrapper{
    display: flex;
    justify-content: space-between;
}
.shop-sections{
    width: 32%;
    padding: 30px 20px;
    background-color: #EEEEEE;
    border-radius: 10px;
}

.info-field{
    margin-bottom: 20px;
}
.field-heading{
    margin-bottom: 5px;
    font-size: 20px;
}
.field-content{
    padding: 8px 15px;
    background-color: #C9D6DF;
    border-radius: 4px;
}
.add-to-cart{
    margin-bottom: 20px;
}
.product-amount label{
    font-size: 20px;
    font-weight: 700;
}
.product-amount input{
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin-top: 5px;
    border: 2px solid #00ADB5;
    border-radius: 5px;
    font-style: 16px;
}
.product-amount input::placeholder{
    font-size: 16px;
}
.product-type{
    margin: 15px 0;
}
.product-type label{
    margin-right: 10px;
}
.product-type input{
    margin-right: 5px;
}
.form-button{
    padding: 8px 25px;
    background-color: #00ADB5;
    border-radius: 3px;
    font-size: 18px;
    color: #fff;
}

.order .order-list{
    width: 100%;
    height: 90px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 2px solid #00ADB5;
    border-radius: 5px;
    overflow-y: scroll;
}
.receipt p{
    margin-bottom: 7px;
}